setuptools==75.2.0
pip==24.1.2
requirements-parser==0.9.0
types-setuptools==80.9.0.20250822
pydicom==3.0.1
google-colab==1.0.0
kagglehub==0.3.13
terminado==0.18.1
hpack==4.1.0
simplejson==3.20.2
cloudpathlib==0.23.0
bigframes==2.28.0
pyparsing==3.2.5
sympy==1.13.3
opentelemetry-exporter-otlp-proto-http==1.37.0
ratelim==0.1.6
sqlalchemy-spanner==1.17.1
scikit-image==0.25.2
cmdstanpy==1.3.0
polars==1.31.0
ucxx-cu12==0.46.0
miniKanren==1.0.5
google==2.0.3
cryptography==43.0.3
overrides==7.7.0
omegaconf==2.3.0
entrypoints==0.4
umap-learn==0.5.9.post2
catalogue==2.0.10
rsa==4.9.1
tensorflow-hub==0.16.1
MarkupSafe==3.0.3
autograd==1.8.0
widgetsnbextension==3.6.10
google-ai-generativelanguage==0.6.15
ipyevents==2.0.4
ipython==7.34.0
mdurl==0.1.2
httplib2==0.31.0
psutil==5.9.5
webencodings==0.5.1
nvtx==0.2.13
jupytext==1.17.3
duckdb==1.3.2
safehttpx==0.1.7
keyrings.google-artifactregistry-auth==1.1.2
types-pytz==2025.2.0.20251108
bqplot==0.12.45
PySocks==1.7.1
rmm-cu12==25.10.0
google-cloud-audit-log==0.4.0
shap==0.50.0
umf==1.0.2
python-utils==3.9.1
namex==0.1.0
opentelemetry-exporter-gcp-logging==1.11.0a0
pandas-stubs==2.2.2.240909
jieba==0.42.1
clarabel==0.11.1
traitlets==5.7.1
itsdangerous==2.2.0
filelock==3.20.0
keras==3.10.0
grpcio==1.76.0
moviepy==1.0.3
multipledispatch==1.0.0
h5netcdf==1.7.3
fastrlock==0.8.3
soupsieve==2.8
community==1.0.0b1
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
chardet==5.2.0
pickleshare==0.7.5
gin-config==0.5.0
tensorstore==0.1.78
nvidia-cuda-cupti-cu12==12.6.80
nvidia-nvtx-cu12==12.6.77
plotly==5.24.1
urllib3==2.5.0
pyproject_hooks==1.2.0
humanize==4.14.0
gradio_client==1.13.3
albumentations==2.0.8
markdown-it-py==4.0.0
nvidia-cufft-cu12==11.3.0.4
mdit-py-plugins==0.5.0
glob2==0.7
cvxopt==1.3.2
opentelemetry-api==1.37.0
hdbscan==0.8.40
notebook==6.5.7
tokenizers==0.22.1
orjson==3.11.4
pytz==2025.2
fasttransform==0.0.2
prompt_toolkit==3.0.52
cycler==0.12.1
keyring==25.6.0
einops==0.8.1
tf-slim==1.1.0
seaborn==0.13.2
plotnine==0.14.5
requests-oauthlib==2.0.0
pynndescent==0.5.13
patsy==1.0.2
tenacity==8.5.0
pyzmq==26.2.1
google-cloud-bigquery==3.38.0
sortedcontainers==2.4.0
ffmpy==1.0.0
smart_open==7.5.0
imutils==0.5.4
libpysal==4.13.0
multiprocess==0.70.16
nvidia-cusparselt-cu12==0.7.1
blobfile==3.1.0
parso==0.8.5
Farama-Notifications==0.0.4
websocket-client==1.9.0
toml==0.10.2
soundfile==0.13.1
textblob==0.19.0
tblib==3.2.1
ibis-framework==9.5.0
panel==1.8.3
zstandard==0.25.0
hyperframe==6.1.0
tf_keras==2.19.0
nvidia-curand-cu12==10.3.7.77
yarl==1.22.0
cuda-core==0.3.2
google-cloud-language==2.18.0
sse-starlette==3.0.3
pyspark==3.5.1
python-json-logger==4.0.0
etuples==0.3.10
kaggle==1.7.4.5
nbformat==5.10.4
tomlkit==0.13.3
en_core_web_sm==3.8.0
bokeh==3.7.3
google-cloud-bigtable==2.34.0
pyOpenSSL==24.2.1
ale-py==0.11.2
scooby==0.11.0
treelite==4.4.1
jeepney==0.9.0
google-cloud-functions==1.21.0
proto-plus==1.26.1
arviz==0.22.0
multitasking==0.0.12
py-cpuinfo==9.0.0
scs==3.2.9
tifffile==2025.10.16
prometheus_client==0.23.1
sphinxcontrib-htmlhelp==2.1.0
Werkzeug==3.1.3
ipyleaflet==0.20.0
nvidia-cudnn-cu12==9.10.2.21
Send2Trash==1.8.3
opentelemetry-sdk==1.37.0
google-cloud-bigquery-connection==1.19.0
libucxx-cu12==0.46.0
tensorflow-datasets==4.9.9
opencv-contrib-python==4.12.0.88
tensorflow-text==2.19.0
jupyter-leaflet==0.20.0
GitPython==3.1.45
linkify-it-py==2.0.3
locket==1.0.0
psygnal==0.15.0
google-auth-oauthlib==1.2.3
six==1.17.0
accelerate==1.11.0
ndindex==1.10.0
nvidia-cuda-nvcc-cu12==12.9.86
gspread-dataframe==4.0.0
numexpr==2.14.1
sphinxcontrib-applehelp==2.0.0
torch==2.8.0+cu126
pydub==0.25.1
numba==0.60.0
google-cloud-datastore==2.21.0
altair==5.5.0
nvidia-nvjitlink-cu12==12.6.85
cudf-polars-cu12==25.10.0
snowballstemmer==3.0.1
pydotplus==2.0.2
nvidia-ml-py==13.580.82
simple-parsing==0.1.7
fastjsonschema==2.21.2
annotated-types==0.7.0
libkvikio-cu12==25.10.0
transformers==4.57.1
networkx==3.5
click==8.3.0
argon2-cffi-bindings==25.1.0
atpublic==5.1
SecretStorage==3.4.1
langsmith==0.4.42
PyDrive2==1.21.3
jupyter_server_terminals==0.5.3
yellowbrick==1.5
charset-normalizer==3.4.4
safetensors==0.6.2
cymem==2.0.11
tensorflow==2.19.0
treescope==0.1.10
msgpack==1.1.2
uritemplate==4.2.0
flax==0.10.7
debugpy==1.8.15
google-cloud-discoveryengine==0.13.12
pygit2==1.19.0
pyerfa==2.0.1.5
keras-nlp==0.21.1
aiohttp==3.13.2
promise==2.3
google-auth==2.38.0
jupyterlab_pygments==0.3.0
xarray==2025.10.1
attrs==25.4.0
python-box==7.3.2
gymnasium==1.2.2
webcolors==25.10.0
googleapis-common-protos==1.72.0
iniconfig==2.3.0
docutils==0.21.2
zict==3.0.0
geopy==2.4.1
pandas-gbq==0.30.0
nbconvert==7.16.6
cons==0.4.7
jupyter_client==7.4.9
opt_einsum==3.4.0
audioread==3.1.0
curl_cffi==0.13.0
stringzilla==4.2.3
jupyter-console==6.6.3
opentelemetry-exporter-gcp-trace==1.11.0
pandocfilters==1.5.1
orbax-checkpoint==0.11.28
hf-xet==1.2.0
gitdb==4.0.12
absolufy-imports==0.3.1
distributed-ucxx-cu12==0.46.0
dask-cudf-cu12==25.10.0
blinker==1.9.0
pylibcudf-cu12==25.10.0
highspy==1.12.0
brotli==1.2.0
websockets==15.0.1
shellingham==1.5.4
narwhals==2.11.0
nibabel==5.3.2
requests-toolbelt==1.0.0
langchain==0.3.27
fsspec==2025.3.0
gradio==5.49.1
jupyter-events==0.12.0
colorcet==3.1.0
hf_transfer==0.1.9
chex==0.1.90
ipyparallel==8.8.0
datasets==4.0.0
Pygments==2.19.2
pydantic_core==2.33.2
srsly==2.5.1
aiohappyeyeballs==2.6.1
spacy==3.8.8
alembic==1.17.1
mcp==1.21.0
cramjam==2.11.0
importlib_metadata==8.7.0
roman-numerals-py==3.1.0
PyGObject==3.42.0
ipytree==0.2.2
nbclassic==1.3.3
pyshp==3.0.2.post1
grpclib==0.4.8
annotated-doc==0.0.4
sentry-sdk==2.44.0
pymc==5.26.1
xlrd==2.0.2
param==2.2.1
prettytable==3.16.0
pycairo==1.29.0
dopamine_rl==4.1.2
nltk==3.9.1
jaraco.context==6.0.1
etils==1.13.0
gym-notices==0.1.0
toolz==0.12.1
fqdn==1.5.1
python-louvain==0.16
soxr==1.0.0
more-itertools==10.8.0
anywidget==0.9.19
google-cloud-resource-manager==1.15.0
cloudpickle==3.1.2
ptyprocess==0.7.0
frozendict==2.4.6
google-generativeai==0.8.5
numpy==2.0.2
pycparser==2.23
aiosignal==1.4.0
earthengine-api==1.5.24
simsimd==6.5.3
opencv-python==4.12.0.88
rich==13.9.4
python-slugify==8.0.4
holidays==0.84
google-api-python-client==2.187.0
distributed==2025.9.1
google-cloud-secret-manager==2.25.0
torchtune==0.6.1
google-cloud-translate==3.23.0
tinycss2==1.4.0
cuda-python==12.9.4
h11==0.16.0
sphinxcontrib-jsmath==1.0.1
tensorflow_decision_forests==1.12.0
httpx-sse==0.4.3
grpc-interceptor==0.15.4
jax-cuda12-plugin==0.7.2
gast==0.6.0
referencing==0.37.0
slicer==0.0.8
cuml-cu12==25.10.0
py4j==0.10.9.7
jupyter_kernel_gateway==2.5.2
wandb==0.22.3
python-dotenv==1.2.1
triton==3.4.0
h2==4.3.0
xyzservices==2025.10.0
tcmlib==1.4.1
scipy==1.16.3
wrapt==2.0.1
mkl==2025.2.0
sphinxcontrib-devhelp==2.0.0
gdown==5.2.0
firebase-admin==6.9.0
google-cloud-bigquery-storage==2.34.0
mizani==0.13.5
geopandas==1.1.1
optree==0.17.0
googledrivedownloader==1.1.0
gcsfs==2025.3.0
pluggy==1.6.0
geocoder==1.38.1
peft==0.17.1
ipyfilechooser==0.6.0
platformdirs==4.5.0
llvmlite==0.43.0
beartype==0.22.5
yfinance==0.2.66
rapids-logger==0.1.19
pillow==11.3.0
spanner-graph-notebook==1.1.8
blosc2==3.11.0
scikit-learn==1.6.1
fastai==2.8.5
pooch==1.8.2
pydantic-settings==2.12.0
protobuf==5.29.5
cachetools==5.5.2
tqdm==4.67.1
langchain-core==0.3.79
google-cloud-dataproc==5.23.0
wasabi==1.1.3
cuda-pathfinder==1.3.2
PyJWT==2.10.1
natsort==8.4.0
nvidia-nccl-cu12==2.27.3
ImageIO==2.37.2
google-crc32c==1.7.1
libcudf-cu12==25.10.0
frozenlist==1.8.0
rpds-py==0.28.0
httpcore==1.0.9
branca==0.8.2
tweepy==4.16.0
google-cloud-storage==2.19.0
notebook_shim==0.2.4
typer==0.20.0
smmap==5.0.2
sentencepiece==0.2.1
lightgbm==4.6.0
openpyxl==3.1.5
typer-slim==0.20.0
Mako==1.3.10
jaraco.classes==3.4.0
certifi==2025.10.5
python-multipart==0.0.20
pyperclip==1.11.0
opentelemetry-proto==1.37.0
ply==3.11
bigquery-magics==0.10.3
dask-cuda==25.10.0
absl-py==1.4.0
google-cloud-core==2.5.0
pycocotools==2.0.10
oauth2client==4.1.3
intel-openmp==2025.3.1
grpcio-status==1.71.2
imbalanced-learn==0.14.0
music21==9.3.0
librosa==0.11.0
python-dateutil==2.9.0.post0
lark==1.3.1
pydantic==2.11.10
pyomo==6.9.5
pyproj==3.7.2
xxhash==3.6.0
fonttools==4.60.1
nvidia-cusolver-cu12==11.7.1.2
jsonschema-specifications==2025.9.1
python-snappy==0.7.3
fastapi==0.121.1
google-cloud-logging==3.12.1
backcall==0.2.0
bleach==6.3.0
httpimport==1.4.1
wurlitzer==3.1.1
sklearn-pandas==2.2.0
et_xmlfile==2.0.0
importlib_resources==6.5.2
zipp==3.23.0
libcuml-cu12==25.10.0
libclang==18.1.1
Flask==3.1.2
missingno==0.5.2
kiwisolver==1.4.9
jiter==0.12.0
build==1.3.0
dask==2025.9.1
prophet==1.1.7
opencv-python-headless==4.12.0.88
optax==0.2.6
PyWavelets==1.9.0
portpicker==1.5.2
sqlparse==0.5.3
ipython-genutils==0.2.0
progressbar2==4.5.0
dm-tree==0.1.9
google-auth-httplib2==0.2.1
sqlglot==25.20.2
matplotlib-inline==0.2.1
astropy==7.1.1
ml_dtypes==0.5.3
pydata-google-auth==1.9.1
imageio-ffmpeg==0.6.0
pandas==2.2.2
fastcore==1.8.16
jaraco.functools==4.3.0
matplotlib-venn==1.1.2
dataproc-spark-connect==0.8.3
multidict==6.7.0
tbb==2022.3.0
xarray-einstats==0.9.1
Jinja2==3.1.6
tiktoken==0.12.0
cufflinks==0.17.3
pyogrio==0.11.1
ydf==0.13.0
ruff==0.14.4
arrow==1.4.0
spacy-legacy==3.0.12
antlr4-python3-runtime==4.9.3
joblib==1.5.2
psycopg2==2.9.11
torchaudio==2.8.0+cu126
opentelemetry-semantic-conventions==0.58b0
rfc3987-syntax==1.1.0
tensorboard-data-server==0.7.2
gym==0.25.2
cmake==3.31.6
alabaster==1.0.0
nx-cugraph-cu12==25.10.0
osqp==1.0.5
tsfresh==0.21.1
colour==0.1.5
uc-micro-py==1.0.3
h5py==3.15.1
CacheControl==0.14.3
numba-cuda==0.19.1
pyasn1_modules==0.4.2
google-adk==1.17.0
pytest==8.4.2
packaging==25.0
huggingface-hub==0.36.0
nvidia-cusparse-cu12==12.5.4.2
httpx==0.28.1
opentelemetry-exporter-otlp-proto-common==1.37.0
pylibraft-cu12==25.10.0
ipywidgets==7.7.1
babel==2.17.0
tzlocal==5.3.1
jsonpointer==3.0.0
Markdown==3.10
db-dtypes==1.4.4
watchdog==6.0.0
logical-unification==0.4.7
hyperopt==0.2.7
geemap==0.35.3
opentelemetry-exporter-gcp-monitoring==1.11.0a0
threadpoolctl==3.6.0
inflect==7.5.0
google-cloud-spanner==3.59.0
openai==1.109.1
idna==3.11
beautifulsoup4==4.13.5
sphinxcontrib-qthelp==2.0.0
fastprogress==1.0.3
pygame==2.6.1
colorlover==0.3.0
xgboost==3.1.1
opentelemetry-resourcedetector-gcp==1.11.0a0
langchain-text-splitters==0.3.11
lxml==5.4.0
jupyter_server==2.14.0
pyasn1==0.6.1
contourpy==1.3.3
semantic-version==2.10.0
easydict==1.13
google-cloud-monitoring==2.28.0
google-cloud-appengine-logging==1.7.0
SQLAlchemy==2.0.44
nest-asyncio==1.6.0
dlib==19.24.6
imagesize==1.4.1
pycryptodomex==3.23.0
confection==0.1.5
argon2-cffi==25.1.0
sphinxcontrib-serializinghtml==2.0.0
geographiclib==2.1
ipykernel==6.17.1
requests==2.32.4
jax-cuda12-pjrt==0.7.2
greenlet==3.2.4
flatbuffers==25.9.23
typeguard==4.4.4
tornado==6.5.1
rfc3339-validator==0.1.4
tensorboard==2.19.0
immutabledict==4.2.2
betterproto==2.0.0b6
rfc3986-validator==0.1.1
fastdownload==0.0.7
Bottleneck==1.4.2
jax==0.7.2
tensorflow-metadata==1.17.2
wheel==0.45.1
typing_extensions==4.15.0
jsonschema==4.25.1
holoviews==1.22.0
torchdata==0.11.0
google-resumable-media==2.7.2
matplotlib==3.10.0
jsonpickle==4.1.1
isoduration==20.11.0
mlxtend==0.23.4
tables==3.10.2
editdistance==0.8.1
Authlib==1.6.5
google-cloud-trace==1.17.0
nvidia-cuda-runtime-cu12==12.6.77
Cython==3.0.12
libcugraph-cu12==25.10.1
future==1.0.0
torchvision==0.23.0+cu126
stanio==0.5.1
folium==0.20.0
statsmodels==0.14.5
pydot==3.0.4
groovy==0.1.2
google-genai==1.49.0
graphviz==0.21
nvidia-cuda-nvrtc-cu12==12.6.77
typing-inspection==0.4.2
anyio==4.11.0
wcwidth==0.2.14
array_record==0.8.2
google-cloud-firestore==2.21.0
blis==1.3.0
aiofiles==24.1.0
google-cloud-speech==2.34.0
gspread==6.2.1
pyarrow==18.1.0
pexpect==4.9.0
parsy==2.2
vega-datasets==0.9.0
murmurhash==1.0.13
cuda-bindings==12.9.4
ipython-sql==0.5.0
google-api-core==2.28.1
pylibcugraph-cu12==25.10.1
cudf-cu12==25.10.0
uri-template==1.3.0
wordcloud==1.9.4
partd==1.4.2
tensorflow-probability==0.25.0
GDAL==3.8.4
termcolor==3.2.0
librmm-cu12==25.10.0
preshed==3.0.10
tabulate==0.9.0
sentence-transformers==5.1.2
docstring_parser==0.17.0
pyviz_comms==3.0.6
jsonpatch==1.33
thinc==8.3.8
cffi==2.0.0
diffusers==0.35.2
pytensor==2.35.1
oauthlib==3.3.1
peewee==3.18.3
libraft-cu12==25.10.0
nvidia-cublas-cu12==12.6.4.1
starlette==0.49.3
cyipopt==1.5.0
timm==1.0.22
lazy_loader==0.4
torchsummary==1.5.1
albucore==0.0.24
decorator==4.4.2
nvidia-cufile-cu12==1.11.1.6
weasel==0.4.2
plum-dispatch==2.6.0
nvidia-nvshmem-cu12==3.4.5
google-pasta==0.2.0
html5lib==1.1
nbclient==0.10.2
PyOpenGL==3.1.10
grpc-google-iam-v1==0.14.3
intel-cmplr-lib-ur==2025.3.1
mistune==3.1.4
torchao==0.10.0
Sphinx==8.2.3
proglog==0.1.12
jaxlib==0.7.2
PyYAML==6.0.3
sniffio==1.3.1
pandas-datareader==0.10.0
eerepr==0.1.2
rapids-dask-dependency==25.10.0
google-cloud-aiplatform==1.126.1
cupy-cuda12x==13.6.0
defusedxml==0.7.1
distro==1.9.0
shapely==2.1.2
traittypes==0.2.3
cvxpy==1.6.7
raft-dask-cu12==25.10.0
regex==2024.11.6
stumpy==1.13.0
astropy-iers-data==0.2025.11.10.0.38.31
propcache==0.4.1
keras-hub==0.21.1
cuda-toolkit==12.9.1
spacy-loggers==1.0.5
dill==0.3.8
libucx-cu12==1.19.0
uvicorn==0.38.0
astunparse==1.6.3
tzdata==2025.2
mpmath==1.3.0
nvidia-cuda-cccl-cu12==12.9.27
text-unidecode==1.3
rpy2==3.5.17
python-apt==0.0.0
more-itertools==8.10.0
lazr.restfulclient==0.14.4
launchpadlib==1.10.16
httplib2==0.20.2
pyparsing==2.4.7
PyJWT==2.3.0
jeepney==0.7.1
six==1.16.0
distro==1.7.0
python-apt==2.4.0+ubuntu4
zipp==1.0.0
lazr.uri==1.0.6
cryptography==3.4.8
keyring==23.5.0
wadllib==1.3.6
importlib-metadata==4.6.4
oauthlib==3.2.0
dbus-python==1.2.18
PyGObject==3.42.1
blinker==1.4
SecretStorage==3.3.1
MarkupSafe==2.0.1
Markdown==3.3.6
Mako==1.1.3
